/* custom styles here */

/*-----------Logo---------------*/

.logo-image {
    position: relative;
    top: 60px;
    margin-left: 50px;
    background-color: black;
    border-radius: 100px;
}

/*-----------/Logo---------------*/

/*-----------Navigiation---------------*/

.navtop {
    background-color: black;
    margin: auto;
    width: 100%;
    height: 5%;
}

.topnav {
    background-color: black;
}

.topnav a {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    font-family: 'Josefin Slab', serif;
    font-size: 18pt;
    font-weight: bold;
    top: -40px;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: rgb(241, 166, 80);
    border-radius: 30px;
    color: black;
    transition: .3s ease-in;
    transition: .3s ease-out;
}

.topnav a.active {
    background-color: rgb(241, 166, 80);
    border-radius: 30px;
    color: white;
}

/*-----------/Navigiation---------------*/

/*-----------/Main Image---------------*/

.container-main {
    background-image: url(../assets/main.jpg);
    background-size: cover;
    height: 1000px;
    max-width: 100%;
}

.catering-class {
    position: absolute;
    margin-top: 400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.smallknives {
    position: absolute;
    margin-top: 250px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.arrowdown {
    position: absolute;
    margin-top: 850px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.scrolldown {
    position: absolute;
    margin-top: 820px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.arrowdown:hover {
    background-color: rgb(228, 173, 72);
    border-radius: 30px;
    height: 70px;
    width: 80px;
}

/*-----------/Main Image---------------*/

/*-----------/About Section---------------*/

.knives-png {
    position: absolute;
    margin-top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.twitter-logo {
    position: absolute;
    margin-top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.about-section {
    background-image: url(../assets/yellow.jpg);
    background-size: cover;
    height: 600px;
    max-width: 100%;
}

.about-us-text-container {
    padding-top: 50px;
    margin: auto;
    width: 100%;
    height: 500px;
}

.about-header {
    margin: auto;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 36pt;
    color: #ffffff;
}

.about-paragraph {
    margin-top: 50px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 16pt;
    color: #ffffff;
}

.twitter-quote-container {
    background-color: rgba(233, 206, 77, 0.7);
    position: absolute;
    margin-top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 100vh;
    height: fit-content;
}

.twitter-user {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 16pt;
    color: #ffffff;
}

.twitter-quote {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 12pt;
    color: #ffffff;
}

.twitter-time-posted {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 12pt;
    color: #ffffff;
}

.fa-quote-left {
    font-size: 40px;
    padding-right: 10px;
}

.fa-quote-right {
    font-size: 40px;
    padding-left: 10px;
}

/*-----------/Image Section---------------*/

.image-section {
    background-image: url(../assets/image3.jpg);
    background-size: cover;
    height: 1000px;
    max-width: 100%;
}

/*-----------/Image Section---------------*/

/*-----------/Blackboard section---------------*/

.blackboard-section {
    background-image: url(../assets/blackboard.png);
    background-size: cover;
    height: 110vh;
    overflow: hidden;
    max-width: 100%;
}

/*-----------/Contact Section---------------*/

/*-----------/Contact Section---------------*/

.contact-background {
    background-image: url(../assets/contact.png);
    height: 950px;
    max-width: 100%;
}

.contact-section h1 {
    text-align: center;
    color: #ddd;
}

.border {
    width: 100px;
    height: 10px;
    background: #ffffff;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #fff;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #d6b16b;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: #e2c11d;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: #e2c11d;
}

.getintouch {
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    font-family: 'Josefin Slab', serif;
}

/*-----------/Footer Section---------------*/

.footer-section {
    background-image: url(../assets/footer.png);
    background-size: cover;
    height: 350px;
    max-width: 100%;
    background-repeat: no-repeat;
}

/*--- javascript back to top buttton  ----*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(252, 170, 19);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

/*------gallery------*/

@keyframes fadey {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

figure#slideshow {
    width: 80%;
    margin: 0 auto;
    position: relative;
    border: 1px solid #fff;
    cursor: pointer;
}

figure#slideshow img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
}

figure#slideshow img:first-child {
    position: relative;
}

#container:fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

#container:-moz-full-screen figure, #container:-ms-full-screen figure, #container:-webkit-fullscreen figure, #container:fullscreen figure {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

*:-moz-full-screen {
    background: #fff;
}

*:-webkit-full-screen {
    background: #fff;
}